---
// Layout
import Base from "../../../layouts/Base.astro";

// Styles
import "../../../styles/_tag.css";

// Collections
import { getCollection } from "astro:content";

// Functions
export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  const uniqueTags = [
    ...new Set(recipes.map((recipe) => recipe.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = recipes.filter((recipe) =>
      recipe.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { recipes: filteredPosts },
    };
  });
}

// Capitalize first letter
function capitalize(str) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}

// Variables
const { tag } = Astro.params;
const { recipes } = Astro.props;
---

<Base title=`${capitalize(tag)} Recipes`>
  <h1>{tag} Recipes</h1>
  <ul>
    {
      recipes.map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.id}/`}>{recipe.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
