---
// Layout
import Base from "../../../layouts/Base.astro";

// Components
import Tags from "../../../components/Tags.astro";

// Collections
import { getCollection } from "astro:content";

// Variables
const recipes = await getCollection("recipes");
const tags = [...new Set(recipes.map((recipe) => recipe.data.tags).flat())];
---

<Base title="Recipe Tags">
  <header id="page-header">
    <h1>Recipe Tags</h1>
  </header>
  <Tags tags={tags} path="recipes" />
</Base>
