---
import { getCollection } from "astro:content";

// Fetch the recipes collection
const recipes = await getCollection("recipes");
---

<h1>All Recipes</h1>
<ul>
  {
    recipes.map((recipe) => (
      <li>
        <a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a>
      </li>
    ))
  }
</ul>
