// CONFIG
// Fonts
:root {
    // https://modernfontstacks.com/
    --font-body: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --font-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --color-2: #184dc9;
    --color-3: #adff2f;
}

%small-caps {
    font-variant: small-caps;
}

body {
    max-width: 50rem;
    /* Base size set in _reset.scss */
    font-size: 1.25rem;
    font-family: var(--font-body);
    line-height: 1.5;

    @media (prefers-color-scheme: dark) {
        background-color: #000000;
        color: #bebebe;
    }
}

main p {
    @media screen and (min-width: 800px) {
        text-align: justify;
        hyphens: auto;
    }
}

h2 {
    @extend %small-caps;
}

a {
    @extend %small-caps;
    color: var(--color-2);
    text-underline-offset: 0.2em;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-3);
    }
}