main {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.tag {
  text-transform: capitalize;
}

section {
  padding: 1rem;
}

section.new,
section.tags {
  border-style: solid;
  border-radius: 8px;
}