main {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

section {
  padding: 1rem;
}

section.new,
section.tags {
  border-style: solid;
  border-radius: 8px;
}

a.new, a.tag {
  display: inline-block;
  padding: 0.5rem;
}