header {
  margin-bottom: 4rem;
}

ul.tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.directions,
section.ingredients,
section.notes {
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section.notes {
  margin-top: 1rem;
}

.tag {
  padding: 0.5em;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

nav a {
  padding: 0.5rem;
}

@media (max-width: 800px) {
  .recipe {
    grid-template-columns: 1fr;
    /* Single column */
  }
}