h1 {
  margin-bottom: 0;
}

header {
  margin-bottom: 4rem;

  p {
    margin: 0;
  }
}

div.notes {
  margin-top: 4rem;
}

ul.tags {
  font-size: var(--font-small);
  
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.directions,
section.ingredients,
section.notes {
  padding: 1rem;
}

section.notes {
  margin-top: 1rem;
}

.tag {
  padding: 0.5em;
}

div.recipe {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
}

nav a {
  padding: 0.5rem;
}

hr {
  border: none;
}

@media (max-width: 800px) {
  div.recipe {
    grid-template-columns: 1fr;
    /* Single column */
  }
}