main {
  max-width: 60rem;
  margin: 0 auto;
}

form {
  display: grid;
}

input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

button {
  display: none;
}

li.pagefind-ui__result {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

nav a {
  padding: 0.5rem;
}