@use "reset";
@import "../node_modules/rfs/scss";

// Only include styles that apply to *every* page.

html {
    @media (prefers-color-scheme: dark) {
        background-color: #1f1f1f;
        color: #dddddd;
    }
}

body {
    font-size: 1.25rem;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem;
}

main {

    p,
    ul,
    ol {
        line-height: 1.4;
    }
}

h1 {
    font-variant: small-caps;
    margin-bottom: 0;

    @include font-size(5rem);
}

h2 {
    font-variant: small-caps;
    text-align: right;
    border: {
        bottom: {
            style: solid;
            width: 0.05em;
        }
    }
}

h3 {
    font-variant: small-caps;
}

a {
    font-variant: small-caps;

    &:hover {
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        color: yellowgreen;
    }
}

#site-logo {
    font-variant: small-caps;
    font-weight: bold;

    text-decoration: none;

    @include font-size(3rem);

    &:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 0.05em;
        text-underline-offset: .25em;
    }
}

#site-header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-header {
    margin-bottom: 1rem;
}