@use "reset";
@import "../node_modules/rfs/scss";

// Only include styles that apply to *every* page.

html {
    @media (prefers-color-scheme: dark) {
        background-color: #1f1f1f;
        color: #dddddd;
    }
}

body {
    @include font-size(1.25rem);
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem;
}

h1 {
    @include font-size(4rem);
    font-variant: small-caps;
    margin: 0;
}

a {
    @media (prefers-color-scheme: dark) {
        color: yellowgreen;
    }
}

#site-header {
    margin-bottom: 1rem;
}

#page-header {
    margin-bottom: 1rem;
}