@use "_fonts";
@use "_reset";
@use "_config";

html {
    background-color: var(--background-color);
}

body {
    margin: 0 auto;

    font-family: var(--body-font);
    font-size: var(--font-size-base);

    color: var(--text-color);
}

h1 {
    font-weight: 400;
    letter-spacing: 0.1em;
}

h3 {
    font-size: clamp(1.25rem, 2vw, 2rem);
}

h1,
h2 {
    text-align: center;
}

a {
    color: currentColor;
    text-decoration: none;

    &:not(nav a,.tag) {

    font-variant: small-caps;
        text-transform: lowercase;
    }

    &:hover, &:focus {
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
    }

    
}

main {

    p,
    ul,
    ol {
        line-height: 1.3;
        text-wrap: pretty;
    }
}

::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}