@import url("/src/styles/_reset.css");

:root {
    --link-color: #2754d8;

    /* Fonts: https://modernfontstacks.com */
    --body-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}


body {
    margin: 0 auto;
    font-family: var(--body-font);
}

h1,
h2 {
    text-align: center;
}

a {
    color: var(--link-color);
    text-decoration-thickness: from-font;
    text-underline-offset: 3px;
}

a:hover,
a:focus {
    text-decoration: none;
}

main p,
main ul,
main ol {
    line-height: 1.5;
}