@use "fonts";
@use "_reset";

:root {
    --body-font: "Tinos", serif;
    --font-small: clamp(1rem, 2vw, 1.5rem);
    --font-med: clamp(1.25rem, 2vw, 1.75rem);

    // Colors
    --text-color: #000;
    --background-color: #fff;
    --accent: #666;
}

html {
    background-color: var(--background-color);
}

body {
    margin: 0 auto;

    font-family: var(--body-font);
    font-size: var(--font-med);

    color: var(--text-color);
}

header {
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: clamp(2rem, 10vw, 4rem);
    font-variant: small-caps;
    text-transform: lowercase;
    margin-top: 5rem;
}

h2 {
    font-style: italic;
    font-weight: 400;
    font-size: clamp(1.5rem, 2vw, 3rem);
    border-bottom: 1px solid;
    border-color: #b4b4b4;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: clamp(1.25rem, 2vw, 2.75rem);
}

h1,
h2 {
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:not(.tag) {
    font-variant: small-caps;
    text-transform: lowercase;
}

a.tag {
    font-style: italic;
}

a:hover,
a:focus {
    color: var(--accent);
}

main {

    p,
    ul,
    ol {
        line-height: 1.5;
    }

    ul {
        list-style-type: circle;

        li::marker {
            font-size: .75em;
        }
    }
}

::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

nav {
    font-size: var(--font-small);
}