---
import Base from "@/layouts/Base.astro";

import { site } from "../../config.mjs";
---

<Base title="Page Not Found">
  <h1>Page Not Found</h1>
</Base>

<p>
  It looks like this page doesn't exist. If you think this is a mistake, <a
    href=`mailto:${site.author.email}`>email me</a
  >.
</p>
