---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <h1>Page Not Found</h1>
</Base>

<p>
  It looks like this page doesn't exist. If you think this is a mistake, <a
    href="mailto:sam@samfeldstein.xyz">email me</a
  >.
</p>
