---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

// Fetch the recipes collection
const recipes = await getCollection("recipes");
---

<Base title="Home">
  <h1>Home</h1>
  <ul>
    {
      recipes.map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>

<style>
  h1 {
    position: absolute;
    translate: -1000%;
  }
</style>
