---
import Base from "@/layouts/Base.astro";
import Tags from "@/components/Tags.astro";

import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");

const tags = [...new Set(recipes.map((recipe) => recipe.data.tags).flat())];
tags.sort();
---

<Base title="Home">
  <h1>Cookbook</h1>
  <Tags tags={tags} path="recipes" />
</Base>

<style is:global lang="scss">
  .tags {
    list-style-type: none;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    li {
      padding: 0.5rem 0;
    }
  }
</style>
