---
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

// Functions
import { sortCollectionByDate } from "../scripts/utils";

const recipes = await getCollection("recipes");
const recent = sortCollectionByDate(recipes).slice(0, 3);

const tags = [...new Set(recipes.map((recipe) => recipe.data.tags).flat())];
tags.sort();
---

<Base title="Home">
  <section class="new">
    <h2>New Recipes</h2>
    <ul>
      {
        recent.map((recipe) => (
          <li>
            <a class="new" href={`/recipes/${recipe.id}`}>
              {recipe.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
