---
import Base from "../layouts/Base.astro";
---

<Base title="People">
  <h1>People</h1>
  <ul>
    <!-- Option to sort by surname? -->
    <li><a href="/people/stuart-feldstein">Stuart Feldstein</a></li>
    <li><a href="/people/sondra-feldstein">Sondra Feldstein</a></li>
    <li><a href="/people/alex-feldstein">Alex Feldstein</a></li>
    <li><a href="/people/sam-feldstein">Sam Feldstein</a></li>
    <li><a href="/people/anna-feldstein">Anna Feldstein</a></li>
  </ul>
</Base>
