---
import DefaultPage from "../layouts/DefaultPage.astro";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
---

<DefaultPage title="Cookbook" description="Our family cookbook.">
  <ul>
    {
      recipes.map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.slug}/`}>{recipe.data.title}</a>
        </li>
        
      ))
    }
  </ul>
</DefaultPage>
