---
import DefaultPage from "../layouts/DefaultPage.astro";
import CollectionList from "../components/CollectionList.astro";
// import { getCollection } from "astro:content";

// const {collection} = Astro.props;

// const recipes = await getCollection(`${collection}`);
---

<DefaultPage title="Cookbook" description="Our family cookbook.">
  <!-- <ul>
    {
      recipes.map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.slug}/`}>{recipe.data.title}</a>
        </li>
        
      ))
    }
  </ul> -->
<CollectionList collectionName="recipes"/>

</DefaultPage>
