<a href="/">Family Cookbook</a>

<style>
  a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-variant: small-caps;
    display: block;
  }
</style>
