<a href="/">Family Cookbook</a>

<style>
  a {
    text-decoration: none;
    text-align: center;
    font-family: var(--logo-font);
    font-size: calc(3rem + 1vw);
    display: block;
    color: var(--text-color);
    margin: 1rem 0;
  }
</style>
