<nav>
  <a href="/">Home</a>
  <a href="/recipes/">Cookbook</a>
  <a href="/feed.xml">Feed</a>
  <a href="mailto:sam@samfeldstein.xyz">Email Sam</a>
</nav>

<style type="scss">
  nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
</style>
