<nav>
  <a href="/">home</a>
  <a href="/recipes/tags">tags</a>
  <a href="/search">search</a>
</nav>

<style lang="scss">
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    font-size: 0.75em;
  }

  a {
    padding: 0.5em;
  }
</style>
