<nav>
  <a href="/">Home</a>
  <a href="/recipes/">Cookbook</a>
  <a href="/feed.xml">Feed</a>
  <a href="mailto:samuelfeldstein@proton.me">Email Sam</a>
</nav>

<style type="scss">
  nav {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
