<nav>
  <a href="/">home</a>
  <a href="/recipes/tags">tags</a>
  <a href="/search">search</a>
</nav>

<style lang="scss">
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    padding: 0.5em;
    border-radius: 0.25rem;

    font-size: 0.75em;

    background-color: var(--background-color);

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
</style>
