<a href="/">Our Family Website</a>
<nav>
  <a href="/">Home</a>
  <a href="/people/">People</a>
  <a href="/recipes/">Recipes</a>
  <a href="/feed.xml">Feed</a>
</nav>

<style>
  nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
</style>
