<a href="#main-content">Skip to Content</a>

<style>
  a {
    position: absolute;
    translate: -1000%;
    border: 0.1rem solid;
    padding: 0.25rem 1rem;
    background-color: white;
    transition-duration: 0.25s;

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }
  }

  a:focus {
    translate: 0;
  }
</style>
