---
const { tags, path } = Astro.props;
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    text-transform: capitalize;
  }
</style>
