---
const { tags, path } = Astro.props;
---

  <ul>
  {
    tags.map((tag) => (
        <li><a class="tag" href={`/${path}/tags/${tag}`}>#{tag}</a></li>
    ))
  }
  </ul>

<style type="scss">
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  a {
    text-decoration: unset;
    font-variant: unset;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
</style>
