---
const { tags, path } = Astro.props;
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
  }
</style>
