---
const { tags, path } = Astro.props;
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  ul a {
    text-decoration: none;
    font-style: italic;
  }

  ul a:hover, ul a:focus {
    text-decoration: underline;
  }
</style>
