---
const { tags } = Astro.props;
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/recipes/tags/${tag}`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    font-size: var(--font-smaller);
  }
</style>
