---
const { tags, path } = Astro.props;
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>

<style type="scss">
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  a {
    text-decoration: unset;

    /* https://modernfontstacks.com */
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;

    font-variant: unset;
    font-size: calc(1rem + 0.5vw);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
</style>
