---
const { tags } = Astro.props;
tags.sort()
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/recipes/tags/${tag}`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>
