<script>
  let wakeLock = null;
  const button = document.getElementById("stayAwake");

  async function requestWakeLock() {
    try {
      wakeLock = await navigator.wakeLock.request("screen");
      button.textContent = "Screen Locked";
      wakeLock.addEventListener("release", () => {
        button.textContent = "Screen Locked";
      });
    } catch (err) {
      console.error(`${err.name}, ${err.message}`);
    }
  }

  function releaseWakeLock() {
    if (wakeLock) {
      wakeLock.release();
      wakeLock = null;
    }
  }

  button.addEventListener("click", () => {
    if (!wakeLock) {
      requestWakeLock();
    } else {
      releaseWakeLock();
      button.textContent = "Screen Unlocked";
    }
  });
</script>

<button id="stayAwake">Screen Unlocked</button>

<style>
  button {
    font-size: var(--font-smaller);
    margin-top: 1em;
  }
</style>