<script>
  let wakeLock = null;
  const button = document.getElementById("stayAwake");

  async function requestWakeLock() {
    try {
      wakeLock = await navigator.wakeLock.request("screen");
    } catch (err) {
      console.error(`${err.name}, ${err.message}`);
    }
  }

  function releaseWakeLock() {
    if (wakeLock) {
      wakeLock.release();
      wakeLock = null;
    }
  }

  button.addEventListener("click", () => {
    if (!wakeLock) {
      requestWakeLock();
    } else {
      releaseWakeLock();
    }
  });
</script>

<button id="stayAwake">Screen Lock</button>

<style lang="scss">
  button {
    background-color: var(--background-color);
    border: none;
  }
</style>