---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Skiplink from "../components/Skiplink.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} />
  <body>
    <Skiplink />
    <header aria-label="Site Header">
      <Navigation />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
