---
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import Navigation from "../components/MainMenu.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink />
    <header id="site-header" aria-label="Site Header">
      <a href="/">Our Family Website</a>
      <Navigation />
    </header>
    <main id="main-content">
      <slot />
    </main>
  </body>
</html>
