---
// Components
import Skiplink from "@/components/Skiplink.astro";
import Head from "@/components/Head/Head.astro";

import Nav from "@/components/Nav.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-us">
  <Head title={title} />
  <body>
    <header>
      <Nav />
    </header>
    <Skiplink />
    <main id="main">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  body {
    padding: 2vw;

    font-family: var(--body-font);
    font-size: var(--font-size-base);
    font-optical-sizing: auto;

    background-color: var(--background-color);
    color: var(--text-color);
  }

  main {
    margin-top: 1em;
    padding: 1em 2em;
    border-radius: 0.25rem;

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
</style>
