---
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";
import Nav from "../components/Nav.astro";

import "../styles/global.scss";

const { title, description = title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Skiplink />
    <header>
      <Nav />
    </header>
    <main id="main-content">
      <slot />
    </main>
  </body>
</html>
