---
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Skiplink />
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/search/">Search</a>
      </nav>
    </header>
    <main id="main-content">
      <slot />
    </main>
  </body>
</html>
