---
// Components
import Skiplink from "@/components/Skiplink.astro";
import Head from "@/components/Head.astro";

import Nav from "@/components/Nav.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-us">
  <Head title={title} />
  <body>
    <header>
      <Skiplink />
      <Nav />
    </header>

    <main id="main">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  html {
    font-size: 16px;
  }

  body {
    max-width: 80rem;

    font-family: var(--body-font);
    font-size: var(--font-size-base);
    font-optical-sizing: auto;

    background-color: var(--background-color);
    color: var(--text-color);
  }

  main {
    margin-top: 4rem;
  }
</style>
