---
// Layout
import BaseLayout from "./BaseLayout.astro";
import CollectionList from "../components/CollectionList.astro";

const { title, description, frontmatter } = Astro.props;
---

<BaseLayout
  title={title || frontmatter.key || frontmatter.title}
  description={description || frontmatter.description}
>
  <header id="page-header">
    <h1>{title || frontmatter.title}</h1>
  </header>
  <slot />
  {
    frontmatter.listPage && (
      <CollectionList collectionName={frontmatter.collection} />
    )
  }
</BaseLayout>
