---
// Layout
import BaseLayout from "./BaseLayout.astro";

const { title, description, frontmatter } = Astro.props;
---

<BaseLayout
  title={title || frontmatter.key || frontmatter.title}
  description={description || frontmatter.description}
>
  <h1>{title || frontmatter.title}</h1>
  <slot />
</BaseLayout>
