---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <header id="page-header" aria-label="Page Header">
      <h1>{frontmatter.title}</h1>
      <Tags tags={frontmatter.tags} />
    </header>
    <slot />
  </article>
</BaseLayout>