---
import Base from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.key || frontmatter.title}>
  <article>
    <header aria-label="Page Header">
      <h1>{frontmatter.title}</h1>
      <Tags tags={frontmatter.tags} />
    </header>
    <hr>
    <slot />
  </article>
</Base>

<style>
  h1 {
    margin-bottom: 0;
  }
</style>